@import url(//fonts.googleapis.com/css?family=Roboto|Open+Sans|Raleway:600,300);
html {
  background: linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ), url('//i.imgur.com/qDbOQSf.jpg');
}
@media (min-width: 768px) {
  html, body, #sidebar-push, .jumbotron, .container {
    height: 100%;
    background-color: transparent;
  }
}
body {
  font-family: Raleway;
  font-weight: 600;
/*  overflow: hidden;  remove scrollbar */
  color: #fff;
  text-shadow: 0px 0px 10px #000;
}
.jumbotron {
  margin-bottom: 0;
  padding-top: 90px;
  /* default background */
  background: linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ), url('//i.imgur.com/qDbOQSf.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /* parallax?
  background-attachment: fixed; */
}
@media (min-width: 768px) {
  /* default page setup */
  .jumbotron {
    padding-top: 200px;
    margin-bottom: 0;
    /* default background */
    background: linear-gradient(
        rgba(0, 0, 0, 0.45),
        rgba(0, 0, 0, 0.45)
      ), url('//i.imgur.com/qDbOQSf.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* parallax?
    background-attachment: fixed; */
  }
}
h1 {
  font-family: Raleway;
  font-weight: 300;
}
.navbar {
  min-height: 70px;
  height: 70px;
  margin-top: 0px;
  transition: margin-top 0.3s;
}
@media (min-width: 768px) {
  .navbar.hidden-up {
    margin-top: -70px;
  }
}
.navbar-inverse {
  background-color: rgba(0,0,0,0.45);
  /* border-bottom: 1px solid #eee; harsh transition */
  box-shadow: 0px 1px 5px #fff;
}
#navbar-header {
  margin-left: 60px;
  font-size: 30px;
  line-height: 70px;
  color: #fff; /* #eee; */
}
@media (min-width: 768px) {
  #navbar-header {
    color: #fff; /* #eee; */
    font-size: 36px;
    margin-left: 0px;
    letter-spacing: -5px;
  }
  #navbar-header #ase {
    letter-spacing: 15px;
  }
  #navbar-header #attire {
    letter-spacing: 15px;
  }
}
#navbar-header #ase {
  font-family: Raleway;
  font-weight: 300;
}
#navbar-header #attire {
  font-family: Raleway;
  font-weight: 600;
}
#navbar-header:hover {
  text-decoration: none;
  color: #fff;
  text-shadow: 0px 0px 20px black;
}
#sidebar-button {
  position: fixed;
  top: 10px;
  left: 30px;
  z-index: 9999;
  height: 50px;
  width: 50px;
  max-height: 50px;
  max-width: 50px;
  text-align: center;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}
#sidebar-button:hover {
  background-color: #000;
}
#sidebar-button.open {
  /* left: 200px; */
}
#sidebar-button i {
  font-size: 30px;
  line-height: 50px;
}
#sidebar {
  position: fixed;
  top: 0%;
  left: -75%;
  z-index: 99999;
  height: 100%;
  width: 75%;
  background-color: #222;
  color: white;
  transition: all 0.3s;
}
@media (min-width: 768px) {
  #sidebar {
    top: 0;
    left: -200px;
    width: 200px;
  }
}
#sidebar.open {
  left: 0%;
  box-shadow: 0px 2px 5px white;
}
#sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 40px;
  text-align: center;
}
#sidebar ul li {
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  cursor: pointer;
}
#sidebar ul li.active {
  background-color: #444;
}
#sidebar ul li:hover {
  background-color: #444;
}
#sidebar ul li#close {
  display: inline-block;
  cursor: default;
}
#sidebar ul li#close:hover {
  background-color: #222; /* sidebar bg color */
}
#sidebar ul li a {
  color: #fff;
  display: block;
}
#sidebar ul li a:hover {
  text-decoration: none;
}
#sidebar-push {
  transition: all 0.3s;
}
#sidebar-push.open {
  margin-left: 200px;
}
#overlay.open {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.8;
  z-index: 9998;
}

/* custom buttons */
.btn {
  border-radius: 0;
  background-color: rgba(0,0,0,0.45);
  text-shadow: none;
  transition: all 0.3s;
}
.btn-default {
  background-color: white;
}
.btn-primary {
  color: #337ab7;
  background-color: rgba(0,0,0,0);
}
.btn-info {
  color: #5bc0de;
}
.btn-success {
  color: #4cae4c;
}
.btn-circle {
  padding: 7px; /* (diameter - fontsize) / 2 */
  margin-left: 10px;
  margin-right: 10px;
  height: 30px;
  width: 30px;
  line-height: 16px;
  text-align: center;
  border-radius: 0%; /* turns to circle on hover */
  font-size: 16px;
  background-color: #333;
  color: #fff;
  transition: 0.3s all;
}
.btn-circle:hover {
  color: white;
  border: none;
  border-radius: 50%;
}

/* social media */
.instagram:hover {
  background-color: #517fa4;
  border: 1px solid #517fa4;
}
.facebook:hover {
  background-color: #3b5998;
  border: 1px solid #3b5998;
}
.twitter:hover {
  background-color: #00aced;
  border: 1px solid #00aced;
}
.leungEnterprisesMsg {
  font-family: Raleway;
  font-weight: 300;
}
.leungEnterprises {
  font-family: Open Sans;
  color: #eee;
  transition: all 0.25s;
}
.leungEnterprises:hover {
  text-decoration: none;
  text-shadow: 0px 0px 10px black,0px 0px 10px black,0px 0px 10px black,0px 0px 10px black;
  color: #fff;
}
#index2 {
  color: #000;
  text-shadow: none;
  background: #eee;
}
#about1 {
  background: linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ), url('//i.imgur.com/7gtyQ9n.jpg');
}
#about2 {
  color: #000;
  text-shadow: none;
  background: #eee;
}
#contact1 {
  background: linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ), url('/img/Tree.jpg');
}
/* custom pages */
@media (min-width: 768px) {
  #index1 {
    /* show users that there is more */
    height: 90%;
  }
  #index2 {
    /* parallax?
    background-attachment: fixed; */
    height: 90%;
  }
  #about1 {
    padding-top: 150px;
    height: 80%;
  }
  #about2 {
    height: 100%;
  }
  #contact1 {
    height: 120%;
    padding-top: 100px;
  }
  /* store */
  #store1 {
    padding-top: 100px;
    height: 120%;
  }
}
.storeItem {
  background-color: rgba(0,0,0,0.8);
  margin: 0 auto;
  margin-top: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.itemImg {
  height: 150px;
  margin: 15px;
}
@media (min-width: 768px) {
  .storeItem {
    width: 50%;
  }
  .itemImg {
    height: 256px;
    margin: 15px;
  }
}

/* custom footers */
.footer {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 15%;
  background: rgba(0,0,0,0.8);
  box-shadow: 0px -1px 5px #fff;
  /* border-top: 1px solid #fff; too harsh of a transition */
}
#contactFooter {
  background: linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ), url('/img/Tree.jpg');
}

/* contact */
/* form */
form {
  font-family: Roboto;
}
form .btn {
  font-family: Raleway;
  weight: 300;
}
form .btn:hover {
  border: 1px solid #4cae4c;
}
.form-control {
  margin-bottom: 15px;
}
label {
  text-shadow: 0px 0px 10px #000;
}
textarea {
  resize: none;
}
/* modal */
.modal {
  color: black;
  text-shadow: none;
}
.modal-header h4, .modal .btn {
  font-weight: 600;
}
